body { 
  background-color:  rgb(46, 109, 67); 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 10px;
  
}

a {
  color: black;
  text-decoration: unset;
}

#tituloCabecalho{  
  
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#geral-container{
  background-color: rgb(255, 245, 245);
  margin-left: 2%;
  margin-right: 2%;
  padding: 3%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}


/* Página Quem Sou */



/* Página de Contato Form */

#titulocontato{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #0f310f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color:#168825;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Página Saiba Mais */


